<header>
  <h1>Timeline</h1>
  <p class="count">Posts: {{ (postService.posts$ | async)!.length }}</p>
</header>
<section class="viewport" cdkVirtualScrollingElement>
  <cdk-virtual-scroll-viewport
    appVirtualScroll
    [messages]="postService.posts$ | async"
  >
    <app-post
      *cdkVirtualFor="let post of postService.posts$ | async"
      [post]="post"
      [attr.data-id]="post.id"
    ></app-post>
  </cdk-virtual-scroll-viewport>
  <app-infinite-scroll
    (endReached)="postService.loadPosts()"
  ></app-infinite-scroll>
</section>
